<footer class="footer" >
    <small>
      <br>
        <br>
          <br>
            <br>
      
    </small>
  
    
    
    
    
    <div class ="text-right" id="category-name-footer">
<span class="label label-default"><a href="#">IT</a></span>
<span class="label label-default"><a href="#">Telecoms</a></span>
<span class="label label-default"><a href="#">Introduction to network</a></span>
<span class="label label-default"><a href="#">E-commer</a></span>
<span class="label label-default"><a href="#">Electronic</a></span>
<span class="label label-default"><a href="#">Electromagnetic</a></span>
<span class="label label-default"><a href="#">Linux</a></span>
<span class="label label-default"><a href="#">Analog Modulation</a></span>
<span class="label label-default"><a href="#">Math for Engineering</a></span>
<span class="label label-default"><a href="#">Web Server</a></span>
<span class="label label-default"><a href="#">Electricity</a></span>
<span class="label label-default"><a href="#">Cisco</a></span>
<span class="label label-default"><a href="#">SSH</a></span>
<span class="label label-default"><a href="#">FTP</a></span>
<span class="label label-default"><a href="#">DHCP</a></span>
<br>
<span class="label label-default"><a href="#">CCNA</a></span>
<span class="label label-default"><a href="#">Wampserver</a></span>
<span class="label label-default"><a href="#">HTML</a></span>
<span class="label label-default"><a href="#">MySQL</a></span>
<br>
<span class="label label-default"><a href="#">Ruby and Rails</a></span>
<span class="label label-default"><a href="#">CSS</a></span>
<br>
<span class="label label-default"><a href="#">Bootstrap</a></span>
<span class="label label-default"><a href="#">Java</a></span>
<br>
<span class="label label-default"><a href="#">Swift</a></span>
<span class="label label-default"><a href="#">Studio Android</a></span>
<br>
<span class="label label-default"><a href="#">PHP</a></span>
<span class="label label-default"><a href="#">Javastrip</a></span>

<span class="label label-default"><a href="#">Xcode</a></span>
<span class="label label-default"><a href="#">jQery</a></span>
<span class="label label-default"><a href="#">Laravel</a></span>



</div>
   
   
   
   
  <br> 

    

</footer>
 



<a href="https://www.facebook.com/Khmer-Service-440903586103526/"><li class="glyphicon glyphicon-home"></li></a>
   <div class="fb-like" data-href="https://www.facebook.com/Khmer-Service-440903586103526/?ref=hl" data-width="100" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1708178732792806";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


