  <header class="navbar navbar-fixed-top navbar-inverse">
    
    <div class="container">
     
      
      
        
        <nav>
        
        <id> <img  src="assets/3.jpg"
   style= "width: 50px;
    height: 50px";
></id>
<%= link_to "Khmer Service ", '#', id: "logo"%>

        <ul class="nav navbar-nav navbar-right ">
        
        <li class="active"><%=link_to "Home",'#'%></li>
           <li><%=link_to "News",'#'%></li>
              
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              Temples Cambodia <b class="caret"></b>
            </a>
            <ul class="dropdown-menu"style="background-color:#666666;" role="listbox">
             
              <li class="hvr-grow-shadow"><a href="#">Angkor Wat</a></li>
             <li class="hvr-grow-shadow"><a href="#">Bayon</a></li>
               <li class="hvr-grow-shadow"><a href="#">Banteay Kdei</a></li>
              <li class="hvr-grow-shadow"><a href="#">Baphuon</a></li>
             <li class="hvr-grow-shadow"><a href="#">Banteay Prei</a></li>
              <li class="hvr-grow-shadow"><a href="#">Banteay Samre</a></li>
               <li class="hvr-grow-shadow"><a href="#">Banteay Srey</a></li>
              <li class="hvr-grow-shadow"><a href="#">Barays</a></li>
               <li class="hvr-grow-shadow"><a href="#">Bat Chum</a></li>
              <li class="hvr-grow-shadow"><a href="#">Beng Melea</a></li>
               <li class="hvr-grow-shadow"><a href="#">Chapei of the Hospital</a></li>
              <li class="hvr-grow-shadow"><a href="#">Chau Say Tevoda</a></li>
               <li class="hvr-grow-shadow"><a href="#">East Mebon</a></li>
              <li class="hvr-grow-shadow"><a href="#">Kbai Spean</a></li>
               <li class="hvr-grow-shadow"><a href="#">Kieangs (North and South</a></li>
              <li class="hvr-grow-shadow"><a href="#">Kroi Ko</a></li>
               <li class="hvr-grow-shadow"><a href="#">Lo Lei</a></li>
              <li class="hvr-grow-shadow"><a href="#">Neak Pean</a></li>
               <li class="hvr-grow-shadow"><a href="#">Phimeanakas</a></li>
              <li class="hvr-grow-shadow"><a href="#">Phnom Bakheng</a></li>
               <li class="hvr-grow-shadow"><a href="#">Phnom Krom</a></li>
              <li class="hvr-grow-shadow"><a href="#">Prasat Bei</a></li>
               <li class="hvr-grow-shadow"><a href="#">Prasat Suor Prat</a></li>
              <li class="hvr-grow-shadow"><a href="#">Prasat Top (East)</a></li>
               <li class="hvr-grow-shadow"><a href="#">Pre Rup</a></li>
              <li class="hvr-grow-shadow"><a href="#">Prasat Khan</a></li>
              
            </ul>
    
        </li>
        
        
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              GAMES <b class="caret"></b>
            </a>
            <ul class="dropdown-menu"style="background-color:#666666;">
              <li><a href="contact.html.erb">Dramas</a></li>
             <li><a href="contact.html.erb">Thriller</a></li>
               <li><a href="#">Ghost</a></li>
              <li><a href="#">Advanture</a></li>
            
              
              
              
            </ul>
    
        </li>
   
       
   
   
   
   <div class ="gsc-control-case gsc-control-cse-en "
   style="
   
    width: 213px;
    height: 68px;
    border-left-width: 5px;
    margin-left: 400px;
    padding-right: 13px;
    border-bottom-width: 10px;
    border-top-width: 10px;
    padding-bottom: 0px;
    padding-top: 3px;
    margin-top: 0px;
    padding-left: 13px;
   
   
   ">
   
   
   
   
       <script>
  (function() {
    var cx = '005711815795050519357:i6lguvg3n_0';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

   
   
   
   
   
   
   
   
   
   
   
   
   
   </div>
   
   
   
   
   
   
   
   
   
        </ul>
        
     </nav>   
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

   
    
    
    
    
    
</header>